.calendar-container {
    width: 300px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
  }
  
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .calendar-header button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2em;
  }
  
  .calendar {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  
  .day {
    padding: 10px;
    text-align: center;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .calendar-day {
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .empty-day {
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
  }
  